* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}

body {
    background-color: #FFB88C;
}

.heading__text {
color: #DE6262;
font-weight: 900;
}


.form__section {
    display: flex;
    justify-content: center;
    align-items: center;

}

#cityName {
    border-radius: 8px;
    height: 36px;
    margin-right: 5px;
    width: 20%;
    padding: 2px;
}

.result__container {
    width: 100%;
    display: flex;
    justify-content: center;


}

.search__result {
    width: 30%;
    /* */
    background: #DE6262;  
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  
background: linear-gradient(to right, #FFB88C, #DE6262); 

    border-radius: 8px;
    color: azure;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.first__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 4rem;
}

.weather__icon {
    font-size: 4rem;
}

.btn {
    
background: #DE6262;  
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  
background: linear-gradient(to right, #FFB88C, #DE6262);
}

.body__section {
    background-color: #FFB88C;
}
