* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}

body {
    background-image: url("https://i.pinimg.com/originals/a7/f4/26/a7f4267372b13423aa8cbd691a0b279c.jpg");
    background-size: cover;
}

.heading__text {
color: #1A4857;
font-weight: 500;
}


.form__section {
    display: flex;
    justify-content: center;
    align-items: center;

}

#cityName {
    border-radius: 8px;
    height: 36px;
    margin-right: 5px;
    width: 20%;
    padding: 2px;
    background-color: #434b6129;
}

.result__container {
    width: 100%;
    display: flex;
    justify-content: center;


}

.search__result {
    width: 30%;
    background-color: #434b6129;

    border-radius: 8px;
    color:  #1A4857;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.first__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 4rem;
}

.weather__icon {
    font-size: 4rem;
}

.btn {
    
background-color: #434b6129;
color: #1A4857;
}

